

<div class="@(Step == MyNumber ? "d-block" : "d-none")">
    <h3>Step1</h3>
    @ChildContent
</div>


@code {

    private const int MyNumber = 1;

    [Parameter] public int Step { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
