@page "/prueba"
<h3>VistaUsoSteps</h3>

<VistaPadre Step="Step">
    <Step1>

    </Step1>
    <Step2>

    </Step2>
    <Step3>

    </Step3>
</VistaPadre>

<button class="btn btn-primary" @onclick="NextStep"></button>

@code {
    public int Step { get; set; } = 1;

    public void NextStep()
    {
        Step++;
        if (Step > 3) Step = 1;
    }
}
