@using CodeChallenge.Data.Model

<EditForm Model="@Hervivoro" OnValidSubmit="@OnValidSubmit">

    <div class="form-group row justify-content-center">
        <div class="col-2">
            <label class="col-form-label">Especie</label>
        </div>
        <div class="col-4">
            <InputText @bind-Value="Hervivoro.Especie" class="form-control"></InputText>
            <ValidationMessage For="() => Hervivoro.Especie" />
        </div>
    </div>
    <div class="form-group row justify-content-center">
        <div class="col-2">
            <label class="col-form-label">Edad</label>
        </div>
        <div class="col-4">
            <InputNumber @bind-Value="Hervivoro.Edad" class="form-control"></InputNumber>
            <ValidationMessage For="() => Hervivoro.Edad" />
        </div>
    </div>
    <div class="form-group row justify-content-center">
        <div class="col-2">
            <label class="col-form-label">Lugar de Origen</label>
        </div>
        <div class="col-4">
            <InputText @bind-Value="Hervivoro.LugarOrigen" class="form-control"></InputText>
            <ValidationMessage For="() => Hervivoro.LugarOrigen" />
        </div>
    </div>
    <div class="form-group row justify-content-center">
        <div class="col-2">
            <label class="col-form-label">Peso</label>
        </div>
        <div class="col-4">
            <InputNumber @bind-Value="Hervivoro.Peso" class="form-control"></InputNumber>
            <ValidationMessage For="() => Hervivoro.Peso" />
        </div>
    </div>
    <div class="form-group row justify-content-center">
        <div class="col-2">
            <label class="col-form-label">Porcentaje</label>
        </div>
        <div class="col-4">
            <InputNumber @bind-Value="Hervivoro.Porcentaje" class="form-control"></InputNumber>
            <ValidationMessage For="() => Hervivoro.Porcentaje" />
        </div>
    </div>
    <div class="form-group row justify-content-center">
        <div class="col-2">
            <label class="col-form-label">Kilos</label>
        </div>
        <div class="col-4">
            <InputNumber @bind-Value="Hervivoro.Kilos" class="form-control"></InputNumber>
            <ValidationMessage For="() => Hervivoro.Kilos" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">Nuevo</button>
    <DataAnnotationsValidator />
</EditForm>

@code {

    [Parameter] public Data.Model.Hervivoro Hervivoro { get; set; } = new Hervivoro();
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
